@import "./vendor/normalize";
@import "constants";

* {
    box-sizing: border-box;

    &:before,
    &:after {
        box-sizing: border-box;
    }
}

html {
    font-size: 100%;
}

body {
    box-sizing: inherit;
    font-size: 17px;
    background-color: $color-bg-gray;
    font-family: $font-regular;
    color: $color-fg-dark;
    padding: 10px;
}

li {
    display: inline-block;
}
